h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  margin-top: 0px;
  font-size: 30px;
  text-align: center;
}

#basket {
  margin-top: 40px;
}

.shop-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px; 
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list img {
  width: 280px;
  height: 250px;
  object-fit: cover;
}

.list button {
  display: block;
  margin: 18px;
  background-color: rgb(108, 191, 214);
  outline: none;
}

table, tr, td, th{
  text-align: center;
  border: 1px solid grey;
}

table {
  margin: auto;
  color: rgb(7, 7, 68);
  width: 900px;
  border-collapse: collapse;
}

.list div {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.list p {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.list strong {
  margin: 5px;
  color: #333;
}

.list button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

products {
  text-align: center;
}

