body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background-color: #fcf8f0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h3 {
    margin-left: 15px;
}

.filters  {
    display: flex;
    margin: 15px;
    gap: 15px;
}

.filters button {
    background-color:rgb(211, 133, 233);
}

.add-todo button{
    background-color: rgb(221, 178, 233);
}

.add-todo input::placeholder {
    color: rgb(3, 0, 0);
    border-color: rgb(191, 30, 30);
}

.add-todo .input {
    background-color: #eee5ee;
    padding-left: 10px;
    margin: 20px;
    margin-left: 13px;
    height: 29px;
    width: 200px;
}

.add-todo .error {
    margin-left: 14px;
    margin-bottom: 1px; 
    color: red;
    font-size: 20px;
}

.todo-item {
    background-color: #8cadf6;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 15px;
    gap: 8px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
  
.todo-item.completed .todo-text {
    text-decoration: line-through;
    color: #737171;
}

.todo-item.completed {
    background-color:#7FE817;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.todo-item.completed .todo-buttons button {
    background-color: #347C17;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.todo-buttons {
    display: flex;
    gap: 15px;
}

.todo-buttons button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.todo-buttons button:first-child {
    background-color: #2F539B;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;

}

.todo-buttons button:last-child {
    background-color: #2F539B;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;

}
