body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color:rgb(255, 235, 250) ;
  flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
  
.rectangle {
  width: 81px;
  height: 60px;
  background-color: rgb(249, 155, 237);
  border: 1px solid rgb(249, 246, 248);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.btns button {
  font-size: 25px;
  cursor: pointer;
  margin: 10px;
  background-color: rgb(252, 206, 238);
  border-color: rgb(239, 238, 233);
}

.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.createT {
  color: rgb(125, 20, 86);
  background-color: rgb(248, 141, 230);
  font-size: 30px;
  cursor: pointer;
  outline: none;
}
  