.btns{
    display: flex;
    gap: 25px;
    padding: 20px;
    /* margin-bottom: 35px; */
}

html, body, #root {
    background-color: rgb(252, 249, 245);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btns button {
    color:rgb(94, 77, 222);
    background-color: rgb(240, 198, 246);
    font-size: 25px;
    outline: none;
    border-color: white;
}

.users, h2{
    color: darkblue;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

h2{
    font-size: 30px
}


